@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*, *::after {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 1px;
}

body {
    margin: 0;
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100%;
}

.world {
    overflow: hidden;
    position: relative;
}

.score {
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 1vmin;
    opacity: .7;
}

.start-screen {
    position: absolute;
    font-size: 3vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: .7;
}

.hide {
    display: none;
}

.ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.dino {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
}

.captus {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 0;
}

